<h1>Consultants</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
<div class="table-responsive">
    <table class="table table-striped table-fixed">
        <thead>
            <tr>
                <th style="width: 20%">Email</th>
                <th style="width: 12%">First Name</th>
                <th style="width: 12%">Last Name</th>
                <th style="width: 10%">Country</th>
                <th style="width: 30%">Interest</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.country}}</td>
                <td>{{user.interest.join(', ')}}</td>
                <td style="white-space: nowrap">
                    <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user"
                        [disabled]="user.isDeleting">
                        <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!user.isDeleting">Delete</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!users">
                <td colspan="12" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>