<div class="w-100 h-100">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control"
                    placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>

                <div class="form-label-group">
                  <input type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword" class="form-control"
                    placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button [disabled]="loading"
                  class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Sign in</button>
                <div class="text-center">
                  <a class="small" href="">Forgot password?</a>
                  <a class="small ml-4" routerLink="/home/consultant-signup">Sign Up</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>