<div fxLayout="column" fxFlexAlign="center center">

    <mat-toolbar fxLayout="row"  color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Login</span>
        <span class="example-spacer"></span>

    </mat-toolbar>

    <mat-card class="login-card" style="width: 700px;" fxFlexAlign="center center" fxLayout="row" fxFlex="50">
        <form class="example-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" matInput placeholder="Email"
                        formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" matInput
                        placeholder="Password" formControlName="password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>

                <div fxLayout="row" fxLayoutGap="10px">
                    <button mat-raised-button [disabled]="loading" color="primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login</button>
                    <a mat-raised-button routerLink="../register" class="btn btn-link">Register</a>
                </div>
            </form>
        </form>


    </mat-card>


</div>