html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  min-height: 320px;
  overflow: hidden;
}

$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-800: #343a40;

$red: #dc3545;
$yellow: #ffc107;
$primary: #33b5e5; // This is the only variable I wanted to change
$cyan: #17a2b8;
$theme-colors: (
  primary: $primary,
  secondary: $gray-600,
  success: $primary,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
);
@import "bootstrap";
